################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StringCalculator/v17
/.vs
/obj
/bin/Debug
